<!DOCTYPE html>
<html lang="en">

<head class="crypt-dark">
    <meta charset="UTF-8">
    <title>Crypterio</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/icons.css">
    <link rel="stylesheet" href="../static/css/ui.css">
</head>

<body class="crypt-dark">
    <header>
        <div class="container-full-width">
            <div class="crypt-header">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-5">
                        <div class="row">
                            <div class="col-xs-2">
                                <div class="crypt-logo"><img src="../static/images/logo.jpg" alt=""></div>
                            </div>
                            <div class="col-xs-2">
                                <div class="crypt-mega-dropdown-menu"> <a href="" class="crypt-mega-dropdown-toggle">BTC/ETH <i class="pe-7s-angle-down-circle"></i></a>
                                    <div class="crypt-mega-dropdown-menu-block">
                                        <div class="crypt-market-status">
                                            <div>
                                                <div class="tab-content">
                                                    <div role="tabpanel" class="tab-pane active">
                                                        <table class="table table-striped">
                                                            <thead>
                                                                <tr>
                                                                    <th scope="col">Coin</th>
                                                                    <th scope="col">Price</th>
                                                                    <th scope="col">Volume</th>
                                                                    <th scope="col">Change</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <th scope="row">BTC</th>
                                                                    <td class="crypt-down">0.000056</td>
                                                                    <td>5.3424984</td>
                                                                    <td class="crypt-down"><b>-5.4%</b></td>
                                                                </tr>
                                                                <tr>
                                                                    <th scope="row">LTC</th>
                                                                    <td>0.0000564</td>
                                                                    <td>6.6768876</td>
                                                                    <td>-6.7%</td>
                                                                </tr>
                                                                <tr>
                                                                    <th scope="row">ETH</th>
                                                                    <td>0.0000234</td>
                                                                    <td>4.3456600</td>
                                                                    <td class="crypt-down">-5.6%</td>
                                                                </tr>
                                                                <tr>
                                                                    <th scope="row">XMR</th>
                                                                    <td>0.0000567</td>
                                                                    <td>4.3456600</td>
                                                                    <td>-5.6%</td>
                                                                </tr>
                                                                <tr>
                                                                    <th scope="row">DOGE</th>
                                                                    <td class="crypt-up">0.0000234</td>
                                                                    <td>4.3456600</td>
                                                                    <td class="crypt-up">-9.6%</td>
                                                                </tr>
                                                                <tr>
                                                                    <th scope="row">XMR</th>
                                                                    <td>0.0000567</td>
                                                                    <td>4.3456600</td>
                                                                    <td>-5.6%</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div role="tabpanel" class="tab-pane">
                                                        <table class="table table-striped">
                                                            <thead>
                                                                <tr>
                                                                    <th scope="col">Coin</th>
                                                                    <th scope="col">Price</th>
                                                                    <th scope="col">Volume</th>
                                                                    <th scope="col">Change</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <th scope="row">BTC</th>
                                                                    <td class="crypt-down">0.000056</td>
                                                                    <td>5.3424984</td>
                                                                    <td class="crypt-down"><b>-5.4%</b></td>
                                                                </tr>
                                                                <tr>
                                                                    <th scope="row">LTC</th>
                                                                    <td>0.0000564</td>
                                                                    <td>6.6768876</td>
                                                                    <td>-6.7%</td>
                                                                </tr>
                                                                <tr>
                                                                    <th scope="row">DOGE</th>
                                                                    <td class="crypt-up">0.0000234</td>
                                                                    <td>4.3456600</td>
                                                                    <td class="crypt-up">-9.6%</td>
                                                                </tr>
                                                                <tr>
                                                                    <th scope="row">XMR</th>
                                                                    <td>0.0000567</td>
                                                                    <td>4.3456600</td>
                                                                    <td>-5.6%</td>
                                                                </tr>
                                                                <tr>
                                                                    <th scope="row">DOGE</th>
                                                                    <td class="crypt-up">0.0000234</td>
                                                                    <td>4.3456600</td>
                                                                    <td class="crypt-up">-9.6%</td>
                                                                </tr>
                                                                <tr>
                                                                    <th scope="row">XMR</th>
                                                                    <td>0.0000567</td>
                                                                    <td>4.3456600</td>
                                                                    <td>-5.6%</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div role="tabpanel" class="tab-pane">
                                                        <table class="table table-striped">
                                                            <thead>
                                                                <tr>
                                                                    <th scope="col">Coin</th>
                                                                    <th scope="col">Price</th>
                                                                    <th scope="col">Volume</th>
                                                                    <th scope="col">Change</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <th scope="row">BTC</th>
                                                                    <td class="crypt-down">0.000056</td>
                                                                    <td>5.3424984</td>
                                                                    <td class="crypt-down"><b>-5.4%</b></td>
                                                                </tr>
                                                                <tr>
                                                                    <th scope="row">DOGE</th>
                                                                    <td class="crypt-up">0.0000234</td>
                                                                    <td>4.3456600</td>
                                                                    <td class="crypt-up">-9.6%</td>
                                                                </tr>
                                                                <tr>
                                                                    <th scope="row">XMR</th>
                                                                    <td>0.0000567</td>
                                                                    <td>4.3456600</td>
                                                                    <td>-5.6%</td>
                                                                </tr>
                                                                <tr>
                                                                    <th scope="row">DOGE</th>
                                                                    <td class="crypt-up">0.0000234</td>
                                                                    <td>4.3456600</td>
                                                                    <td class="crypt-up">-9.6%</td>
                                                                </tr>
                                                                <tr>
                                                                    <th scope="row">XMR</th>
                                                                    <td>0.0000567</td>
                                                                    <td>4.3456600</td>
                                                                    <td>-5.6%</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-8 col-md-8 d-none d-md-block d-lg-block">
                        <ul class="crypt-heading-menu fright">
                            <li><a href="/exchange">Exchange</a></li>
                            <li><a href="/show">Show</a></li>
                        </ul>
                    </div><i class="menu-toggle pe-7s-menu d-xs-block d-sm-block d-md-none d-sm-none"></i></div>
            </div>
        </div>
        <div class="crypt-mobile-menu">
            <ul class="crypt-heading-menu">
                <li class="active"><a href="">Exchange</a></li>
                <li><a href="">Treanding</a></li>
            </ul>
            <div class="crypt-gross-market-cap">
                <h5>$34.795.90 <span class="crypt-up pl-2">+3.435 %</span></h5>
                <h6>0.7925.90 BTC <span class="crypt-down pl-2">+7.435 %</span></h6></div>
        </div>
    </header>
    <div class="container-fluid">
        <div class="row sm-gutters">
            <div class="col-md-6 col-lg-6 col-xl-3 col-xxl-2">
                <div class="crypt-market-status mt-4">
                    <div>
                        <ul class="nav nav-tabs" id="crypt-tab">
<!--                            <li role="presentation"><a href="#usd" class="active" data-toggle="tab">usd</a></li>-->
                            <li role="presentation"><a href="#btc" data-toggle="tab">btc</a></li>
<!--                            <li role="presentation"><a href="#eth" data-toggle="tab">eth</a></li>-->
                        </ul>
                        <div class="tab-content crypt-tab-content">

                            <div role="tabpanel" class="tab-pane active" id="btc">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">Coin</th>
                                            <th scope="col">Price</th>
                                            <th scope="col">Volume</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="align-middle"><img class="crypt-star pr-1" alt="star" src="../static/images/star.svg" width="15"> ETH/BTC</td>
                                            <td class="align-middle"><span class="pr-2" data-toggle="tooltip" data-placement="right" title="$ 0.05">0.0000234</span></td>
                                            <td> <span class="d-block">6.6768876</span> <b class="crypt-down">-7.7%</b> </td>
                                        </tr>
                                        <tr>
                                            <td class="align-middle"><img class="crypt-star pr-1" alt="star" src="../static/images/star.svg" width="15"> EOS/BTC</td>
                                            <td class="crypt-down align-middle"><span class="pr-2" data-toggle="tooltip" data-placement="right" title="$ 0.05">0.000056</span></td>
                                            <td> <span class="d-block">5.3424984</span> <b class="crypt-down">-5.4%</b> </td>
                                        </tr>
                                        <tr>
                                            <td class="align-middle"><img class="crypt-star pr-1" alt="star" src="../static/images//star.svg" width="15"> LTC/BTC</td>
                                            <td class="align-middle"><span class="pr-2" data-toggle="tooltip" data-placement="right" title="$ 0.05">0.0000564</span></td>
                                            <td> <span class="d-block">6.6768876</span> <span>6.7%</span> </td>
                                        </tr>
                                        <tr>
                                            <td class="align-middle"><img class="crypt-star pr-1" alt="star" src="../static/images//star.svg" width="15"> DOGE/BTC</td>
                                            <td class="align-middle"><span class="pr-2" data-toggle="tooltip" data-placement="right" title="$ 0.05">0.000344</span></td>
                                            <td> <span class="d-block">6.6768876</span> <b class="crypt-up">+3.7%</b> </td>
                                        </tr>
                                        <tr>
                                            <td class="align-middle"><img class="crypt-star pr-1" alt="star" src="../static/images//star.svg" width="15"> XMR/BTC</td>
                                            <td class="align-middle"><span class="pr-2" data-toggle="tooltip" data-placement="right" title="$ 0.05">0.000344</span></td>
                                            <td> <span class="d-block">6.6768876</span> <span>3.7%</span> </td>
                                        </tr>
                                        <tr>
                                            <td class="align-middle"><img class="crypt-star pr-1" alt="star" src="../static/images//star.svg" width="15"> LINK/BTC</td>
                                            <td class="align-middle"><span class="pr-2" data-toggle="tooltip" data-placement="right" title="$ 0.05">0.000344</span></td>
                                            <td> <span class="d-block">6.6768876</span> <span class="crypt-up"><b>+3.7%</b></span> </td>
                                        </tr>
                                        <tr>
                                            <td class="align-middle"><img class="crypt-star pr-1" alt="star" src="../static/images//star.svg" width="15"> FTN/BTC</td>
                                            <td class="align-middle"><span class="pr-2" data-toggle="tooltip" data-placement="right" title="$ 0.05">0.000344</span></td>
                                            <td> <span class="d-block">6.6768876</span> <span class="crypt-up"><b>+3.7%</b></span> </td>
                                        </tr>
                                        <tr>
                                            <td class="align-middle"><img class="crypt-star pr-1" alt="star" src="../static/images//star.svg" width="15"> RIF/BTC</td>
                                            <td class="align-middle"><span class="pr-2" data-toggle="tooltip" data-placement="right" title="$ 0.05">0.000344</span></td>
                                            <td> <span class="d-block">6.6768876</span> <span class="crypt-up"><b>+3.7%</b></span> </td>
                                        </tr>
                                        <tr>
                                            <td class="align-middle"><img class="crypt-star pr-1" alt="star" src="../static/images//star.svg" width="15"> NEO/BTC</td>
                                            <td class="align-middle"><span class="pr-2" data-toggle="tooltip" data-placement="right" title="$ 0.05">0.56723</span></td>
                                            <td> <span class="d-block">9.34546</span> <span>6.7%</span> </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-6 col-xxl-8">
                <div class="crypt-gross-market-cap mt-4">
                    <div class="row">
                        <div class="col-3 col-sm-6 col-md-6 col-lg-6">
                            <div class="row">
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <p>Last Price BTC</p>
                                    <p>0.0234230 $0.04</p>
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <p>Change BTC</p>
                                    <p class="crypt-down">-0.0234230 -3.35%</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-3 col-sm-2 col-md-3 col-lg-2">
                            <p>High BTC</p>
                            <p class="crypt-up">0.435453</p>
                        </div>
                        <div class="col-3 col-sm-2 col-md-3 col-lg-2">
                            <p>Low BTC</p>
                            <p class="crypt-down">0.09945</p>
                        </div>
                        <div class="col-3 col-sm-2 col-md-3 col-lg-2">
                            <p>Volume 24Hr</p>
                            <p class="crypt-down">12.33445</p>
                        </div>
                    </div>
                </div>
                <form class="am-form tpl-form-border-form tpl-form-border-br" method="post" action="submit_data_choosed">
                <div class="crypt-gross-market-cap mt-4">
                    <div class="row">
                        <div class="layui-inline">
                            <div class="layui-input-inline">
                                <font size="4" color="white">Please input a data</font>
                                <input type="date"  id="date" name="date" value="2021-4-3" placeholder="yyyy-MM-dd">
                                <button type="submit" >predict</button>
{#                                <a type="submit" class="crypt-btn crypt-button-inline crypt-btn-green">submit</a>#}
                            </div>
                        </div>
                    </div>
{#                    <div class="row">#}
{#                        <div class="layui-inline">#}
{#                            <div class="layui-input-inline">#}
{##}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
                </div>
                </form>
                <div class="tradingview-widget-container mb-3">
                    <div id="crypt-candle-chart"></div>
                </div>

            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 col-xxl-2">
                <div class="crypt-market-status mt-4">
                    <div>
                        <ul class="nav nav-tabs">
                            <li role="presentation"><a href="#history" class="active" data-toggle="tab">history</a></li>
                            <li role="presentation"><a href="#market-trading" data-toggle="tab">market trading</a></li>
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="history">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">Time</th>
                                            <th scope="col">Price</th>
                                            <th scope="col">Volume</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>22:35:59</td>
                                            <td class="crypt-down">0.000056</td>
                                            <td>5.3424984</td>
                                        </tr>
                                        <tr>
                                            <td>22:35:59</td>
                                            <td>0.0000564</td>
                                            <td>6.6768876</td>
                                        </tr>
                                        <tr>
                                            <td>22:35:59</td>
                                            <td>0.0000234</td>
                                            <td>4.3456600</td>
                                        </tr>
                                        <tr>
                                            <td>22:35:59</td>
                                            <td class="crypt-up">0.0000234</td>
                                            <td>4.3456600</td>
                                        </tr>
                                        <tr>
                                            <td>22:35:59</td>
                                            <td>0.0000567</td>
                                            <td>4.3456600</td>
                                        </tr>
                                        <tr>
                                            <td>22:35:59</td>
                                            <td class="crypt-up">0.0000234</td>
                                            <td>4.3456600</td>
                                        </tr>
                                        <tr>
                                            <td>22:35:59</td>
                                            <td>0.0000567</td>
                                            <td>4.3456600</td>
                                        </tr>
                                        <tr>
                                            <td>22:35:59</td>
                                            <td>0.0000564</td>
                                            <td>6.6768876</td>
                                        </tr>
                                        <tr>
                                            <td>22:35:59</td>
                                            <td>0.0000234</td>
                                            <td>4.3456600</td>
                                        </tr>
                                        <tr>
                                            <td>22:35:59</td>
                                            <td class="crypt-up">0.0000234</td>
                                            <td>4.3456600</td>
                                        </tr>
                                        <tr>
                                            <td>22:35:59</td>
                                            <td>0.0000567</td>
                                            <td>4.3456600</td>
                                        </tr>
                                        <tr>
                                            <td>22:35:59</td>
                                            <td class="crypt-up">0.0000234</td>
                                            <td>4.3456600</td>
                                        </tr>


                                    </tbody>
                                </table>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="market-trading">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">Time</th>
                                            <th scope="col">Amount</th>
                                            <th scope="col">Volume</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>22:35:59</td>
                                            <td>0.0000564</td>
                                            <td>6.6768876</td>
                                        </tr>
                                        <tr>
                                            <td>22:35:59</td>
                                            <td class="crypt-down">0.000056</td>
                                            <td>5.3424984</td>
                                        </tr>
                                        <tr>
                                            <td>22:35:59</td>
                                            <td class="crypt-up">0.0000234</td>
                                            <td>4.3456600</td>
                                        </tr>
                                        <tr>
                                            <td>22:35:59</td>
                                            <td>0.0000234</td>
                                            <td>4.3456600</td>
                                        </tr>
                                        <tr>
                                            <td>22:35:59</td>
                                            <td>0.0000567</td>
                                            <td>4.3456600</td>
                                        </tr>
                                        <tr>
                                            <td>22:35:59</td>
                                            <td class="crypt-up">0.0000234</td>
                                            <td>4.3456600</td>
                                        </tr>
                                        <tr>
                                            <td>22:35:59</td>
                                            <td>0.0000567</td>
                                            <td>4.3456600</td>
                                        </tr>
                                        <tr>
                                            <td>22:35:59</td>
                                            <td>0.0000564</td>
                                            <td>6.6768876</td>
                                        </tr>
                                        <tr>
                                            <td>22:35:59</td>
                                            <td class="crypt-down">0.000056</td>
                                            <td>5.3424984</td>
                                        </tr>
                                        <tr>
                                            <td>22:35:59</td>
                                            <td class="crypt-up">0.0000234</td>
                                            <td>4.3456600</td>
                                        </tr>
                                        <tr>
                                            <td>22:35:59</td>
                                            <td>0.0000234</td>
                                            <td>4.3456600</td>
                                        </tr>
                                        <tr>
                                            <td>22:35:59</td>
                                            <td>0.0000567</td>
                                            <td>4.3456600</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>

    </footer>
	<script src="../static/amc/core.js"></script>
	<script src="../static/amc/charts.js"></script>
	<script src="../static/amc/dark.js"></script>
	<script src="../static/amc/animated.js"></script>
	<script src="../static/js/jquery.js"></script>
	<script src="../static/js/popper.min.js"></script>
	<script src="../static/bootstrap/js/bootstrap.bundle.js"></script>
	<script src="../static/bootstrap/js/bootstrap.js"></script>
	<script src="../static/js/main.js"></script>
	<script src="../static/js/amc.js"></script>
	<script src="https://s3.tradingview.com/tv.js"></script>
</body>
</html>